<{strip}>

<p align="right"><a href="<{$mydirurl}>/index.php?page=archive" title="<{$smarty.const._MD_ARCHIVES}>"><i class="icon16">Z</i><{$smarty.const._MD_ARCHIVES}></a>
    &nbsp;
<{if $can_post}>
&nbsp;<a href="<{$mydirurl}>/index.php?page=submit" title="<{$smarty.const._MD_SUBMITNEWS}>"><i class="icon16">a</i><{$smarty.const._MD_SUBMITNEWS}></a>
    &nbsp;
<{/if}>
  <{if $disp_rss_link}>
    &nbsp;<a href="<{$mydirurl}>/index.php?page=rss" title="<{$smarty.const._MD_RSS}>"><i class="icon16">B</i><{$smarty.const._MD_RSS}></a>
  <{/if}>

</p>

<{/strip}>